<div class="row">
  <aside class="col-4 mx-auto">
    <div class="card">
      <article class="card-body">
        <h4 class="card-title mb-4 mt-1">Sign In</h4>
        <form>
          <div class="form-group">
            <label>Your email</label>
            <input name="" class="form-control" placeholder="Email" type="email">
          </div> <!-- form-group// -->
          <div class="form-group">
            <a class="float-right" href="#">Forgot your password?</a>
            <label>Your password</label>
            <input class="form-control" placeholder="******" type="password">
          </div> <!-- form-group// -->
          <div class="form-group">
            <div class="checkbox">
              <label> <input type="checkbox"> Save password </label>
            </div> <!-- checkbox .// -->
          </div> <!-- form-group// -->
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Sign In </button>
          </div> <!-- form-group// -->
        </form>
      </article>
    </div> <!-- card.// -->
  </aside>
</div>