<div class="card mx-auto" id='product-preview'>
  <div id='image-container'>
    <div *ngIf='!showActions' id='pick-img' (click)='openPickImageModal()'>
      <i class="fas fa-camera"></i>
    </div>
    <img [src]="product.imageUrl || 'assets/img/noimage.png'" class="card-img-top" alt="meat">
  </div>

  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">Price: {{ product.price | currency:'USD':'symbol' }}</p>
  </div>

  <div class="card-footer" *ngIf='showActions'>
    <button *ngIf='!(  quantity); else updateQuantity' class="btn btn-primary btn-block" (click)='addToCart()'>Add
      to Cart</button>
  </div>
  <ng-template #updateQuantity>
    <div class="row no-gutters middle-text">
      <div class="col-2">
        <button class="btn btn-primary btn-block" (click)='removeFromCart()'>-</button>
      </div>
      <div class="col text-center">
        {{ quantity }} in cart
      </div>
      <div class="col-2">
        <button class="btn btn-primary btn-block" (click)='addToCart()'>+</button>
      </div>
    </div>
  </ng-template>
</div>
