<div class="row">
  <aside class="col-4 mx-auto">
    <div class="card">
      <article class="card-body">
        <h4 class="card-title mb-4 mt-1">Sign Up</h4>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
          [mustMatch]="['password', 'confirmPassword']" novalidate>

          <div class="form-group">
            <label>Your Name</label>
            <input name="name" [(ngModel)]="model.name" #name="ngModel" class="form-control" placeholder="Your Name"
              type="text" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" minlength="5" maxlength="50"
              required>
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required">Name is required</div>
              <div *ngIf="name.errors.minlength">Name must be at least 5 characters</div>
              <div *ngIf="name.errors.maxlength">Name must be max 50 characters long</div>
            </div>
          </div> <!-- form-group// -->

          <div class="form-group">
            <label>Your Email</label>
            <input name="email" [(ngModel)]="model.email" #email="ngModel" class="form-control" placeholder="Email"
              type="email" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div> <!-- form-group// -->

          <div class="form-group">
            <label>Your Password</label>
            <input name="password" [(ngModel)]="model.password" #password="ngModel" class="form-control"
              placeholder="******" type="password" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
              required minlength="6">
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div> <!-- form-group// -->

          <div class="form-group">
            <label>Confirm Password</label>
            <input name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel"
              class="form-control" placeholder="******" type="password"
              [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required>
            <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
              <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
          </div> <!-- form-group// -->

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Sign Up </button>
          </div> <!-- form-group// -->
        </form>
      </article>
    </div> <!-- card.// -->
  </aside>
</div>