<div class="container">
  <div class="messaging">
    <div class="inbox_msg">
      <app-friend-list [selected-friend]='selectedFriend'></app-friend-list>

      <div class="mesgs">
        <div class="msg_history" #scrollMe>
          <div *ngFor="let message of messages[selectedFriend]">
            <div class="incoming_msg" *ngIf="message.id == selectedFriend">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{ message.message }}</p>
                  <span class="time_date"> {{message.time_date | date : 'shortTime' }} |
                    {{ message.time_date | date : 'mediumDate'}}</span>
                </div>
              </div>
            </div>
            <div class="outgoing_msg" *ngIf="message.id == myID">
              <div class="sent_msg">
                <p>{{ message.message }}</p>
                <span class="time_date"> {{message.time_date | date : 'shortTime' }} |
                  {{ message.time_date | date : 'mediumDate'}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" (keydown.enter)="sendMessage(messageBox.value)"
              placeholder="Type a message" #messageBox />
            <button class="msg_send_btn" type="button" (click)="sendMessage(messageBox.value)"><i
                class="fas fa-paper-plane"></i></button>
            <!-- <button class="msg_send_btn" type="button" (click)="addFriend(messageBox.value)"><i
                class="fas fa-paper-plane"></i></button> -->
          </div>
        </div>
      </div>
    </div>


    <p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p>

  </div>
</div>
